// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// .blockchain-service1 {
//     display: flex;

//     .digital-service1-left {
//         padding: 5rem;
//         width: 40%;

//         .video-bg{
//             width: 80vh;
//             height: 60vh;
//             margin-left: 8rem;
            
//         }
//     }

//     .web-service1-right {
//         margin-top: 9em;
//         margin-left: 8em;

//         .web-service-right1 {
//             font-family: Poppins;
//             font-size: 3em;
//             font-weight: 500;
//             line-height: 66.93px;
//             text-align: center;
//             color: rgb(47, 61, 68);
//             ;

//         }

//         .web-service-right2 {
//             font-family: ABeeZee;
//             font-size: 19.52px;
//             font-weight: 400;
//             line-height: 18.9px;
//             text-align: center;
//         }

//         .web-service-right3 {
//             font-family: ABeeZee;
//             font-size: 16.06px;
//             text-align: center;
//             padding: 1.5em;


//             button {
//                 background-color: black;
//                 color: white;
//                 width: 16em;
//                 padding: 0.9em;
//                 font-style: italic;
//                 border-radius: 0.9em;

//             }


//         }

//         .web-service-right4 {
//             font-family: ABeeZee;
//             font-size: 14.6px;
//             font-style: italic;
//             font-weight: 400;
//             text-align: center;



//             button {
//                 background: rgba(255, 255, 255, 1);
//                 width: 7em;
//                 padding: 0.2em;
//                 font-style: italic;
//                 border-radius: 0.5em;
//                 box-shadow: 2em;

//             }

//         }


//     }
// }

// .blockchain-service2 {
//     display: flex;
//     justify-content: center;
//     align-items: start;
//     margin-bottom: 2em;

//     .web-service2-left {
//         .web-service2-left1 {
//             font-family: Poppins;
//             font-size: 46.46px;
//             font-weight: 500;
//             line-height: 71.2px;
//             letter-spacing: -0.01em;
//             text-align: left;
//             color: rgba(46, 98, 65, 1);
//             margin-top: 2em;
//             margin-left: 4.4em;


//         }

//         .web-service2-left2 {
//             font-family: Poppins;
//             font-size: 17px;
//             font-weight: 300;
//             line-height: 24px;
//             letter-spacing: -0.01em;
//             text-align: left;
//             color: rgba(0, 0, 0, 1);
//             margin-left: 12em;
//             margin-top: 1em;


//         }

//     }

//     .web-service2-right {
//         padding: 3rem;
//         width: 27%;
//         margin: auto;
//         margin-top: 4em;
//         margin-left: 7em;
//         // background: rgba(81, 177, 117, 1);


//         img {
//             width: 100%;
//         }
//     }
// }

// .blockchain-service3 {
//     padding: 3rem;
//     width: 160vh;
//     height: 65vh;
//     margin: auto;
//     margin-top: 4em;
//     margin-left: e9m;
//     margin-bottom: 4em;
//     border-radius: 2.6em;
//     background: radial-gradient(151.64% 120.36% at 47.19% -0.63%, #63BE73 0%, rgba(39, 91, 91, 0.8) 100%)
//         /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
//     ;

//     img {
//         width: 100%;
//     }

//     .web-service3-first {
//         font-family: Poppins;
//         font-size: 32px;
//         font-weight: 700;
//         line-height: 41.6px;
//         letter-spacing: -0.01em;
//         text-align: center;
//         color: rgba(255, 255, 255, 1);
//         ;

//     }

//     .web-service3-second {
//         font-family: Poppins;
//         font-size: 20px;
//         font-weight: 400;
//         line-height: 60px;
//         letter-spacing: -0.01em;
//         text-align: center;
//         color: rgba(255, 255, 255, 1);
//         margin-top: 2em;

//     }
// }

// .blockchain-service4 {
//     font-family: Poppins;
//     font-size: 24px;
//     font-weight: 600;
//     line-height: 32px;
//     text-align: left;
//     color: rgba(26, 26, 26, 1);
//     margin-left: 4em;
//     margin-bottom: 1em;
    

// }

// .blockchain-service5 {
//     display: flex;

//     .web-service5-left {

//         .web-service5-left-top {
//             padding: 3rem;
//             width: 70%;
//             margin-left: 9em;

//             // background: rgba(81, 177, 117, 1);


//             img {
//                 width: 100%;
//             }
//         }

//         .web-service5-left-bottom {
//             margin-left: 14em;

//             .web-service5-left-bottom1 {
//                 //styleName: Text sm/Semibold;
//                 font-family: Inter;
//                 font-size: 14px;
//                 font-weight: 600;
//                 line-height: 20px;
//                 text-align: left;
//                 color: rgba(57, 163, 75, 1);
//                 ;

//             }

//             .web-service5-left-bottom2 {
//                 //styleName: Display xs/Semibold;
//                 font-family: Inter;
//                 font-size: 24px;
//                 font-weight: 600;
//                 line-height: 32px;
//                 text-align: left;
//                 color: rgba(26, 26, 26, 1);
//                 margin-top: 0.5em;
//                 ;

//             }

//             .web-service5-left-bottom3 {
//                 //styleName: Text md/Normal;
//                 margin-top: 1em;
//                 font-family: Inter;
//                 font-size: 16px;
//                 font-weight: 400;
//                 line-height: 24px;
//                 text-align: left;
//                 color: rgba(102, 112, 133, 1);



//             }
//         }

//     }

//     .web-service5-right {
//         .web-service5-right-top {
//             padding: 3rem;
//             width: 70%;
//             margin-left: 1em;
//             margin-right: 6em;

//             // background: rgba(81, 177, 117, 1);


//             img {
//                 width: 100%;
//             }
//         }

//         .web-service5-right-bottom {
//             margin-left: 1em;

//             .web-service5-right-bottom1 {
//                 //styleName: Text sm/Semibold;
//                 font-family: Inter;
//                 font-size: 14px;
//                 font-weight: 600;
//                 line-height: 20px;
//                 text-align: left;
//                 color: rgba(57, 163, 75, 1);
//                 ;

//             }

//             .web-service5-right-bottom2 {
//                 //styleName: Display xs/Semibold;
//                 font-family: Inter;
//                 font-size: 24px;
//                 font-weight: 600;
//                 line-height: 32px;
//                 text-align: left;
//                 color: rgba(26, 26, 26, 1);
//                 margin-top: 0.5em;
//                 ;

//             }

//             .web-service5-right-bottom3 {
//                 //styleName: Text md/Normal;
//                 margin-top: 1em;
//                 font-family: Inter;
//                 font-size: 16px;
//                 font-weight: 400;
//                 line-height: 24px;
//                 text-align: left;
//                 color: rgba(102, 112, 133, 1);


//             }
//         }
//     }
// }

// .blockchain-service6 {
//     display: flex;

//     .web-service5-left {

//         .web-service5-left-top {
//             padding: 3rem;
//             width: 70%;
//             margin-left: 9em;

//             // background: rgba(81, 177, 117, 1);


//             img {
//                 width: 100%;
//             }
//         }

//         .web-service5-left-bottom {
//             margin-left: 14em;

//             .web-service5-left-bottom1 {
//                 //styleName: Text sm/Semibold;
//                 font-family: Inter;
//                 font-size: 14px;
//                 font-weight: 600;
//                 line-height: 20px;
//                 text-align: left;
//                 color: rgba(57, 163, 75, 1);
//                 ;

//             }

//             .web-service5-left-bottom2 {
//                 //styleName: Display xs/Semibold;
//                 font-family: Inter;
//                 font-size: 24px;
//                 font-weight: 600;
//                 line-height: 32px;
//                 text-align: left;
//                 color: rgba(26, 26, 26, 1);
//                 margin-top: 0.5em;
//                 ;

//             }

//             .web-service5-left-bottom3 {
//                 //styleName: Text md/Normal;
//                 margin-top: 1em;
//                 font-family: Inter;
//                 font-size: 16px;
//                 font-weight: 400;
//                 line-height: 24px;
//                 text-align: left;
//                 color: rgba(102, 112, 133, 1);


//             }
//         }

//     }

//     .web-service6-right {
//         margin-bottom: 1em;

//         .web-service6-right-top {
//             padding: 3.5rem;
//             width: 60%;
//             margin-top: 2em;

//             img {
//                 width: 100%;
//             }
//         }

//         .web-service6-right-bottom {
//             margin-left: 1em;
//             margin-right: 0;
//             margin-bottom: 9em;

//             .web-service6-right-bottom1 {
//                 //styleName: Text sm/Semibold;
//                 font-family: Inter;
//                 font-size: 14px;
//                 font-weight: 600;
//                 line-height: 20px;
//                 text-align: left;
//                 color: rgba(57, 163, 75, 1);
//                 margin-top: 1em;

//             }

//             .web-service6-right-bottom2 {
//                 //styleName: Display xs/Semibold;
//                 font-family: Inter;
//                 font-size: 24px;
//                 font-weight: 600;
//                 line-height: 32px;
//                 text-align: left;
//                 color: rgba(26, 26, 26, 1);
//                 margin-top: 0.5em;
//                 ;

//             }

//             .web-service6-right-bottom3 {
//                 //styleName: Text md/Normal;
//                 margin-top: 1em;
//                 font-family: Inter;
//                 font-size: 16px;
//                 font-weight: 400;
//                 line-height: 24px;
//                 text-align: left;
//                 color: rgba(102, 112, 133, 1);


//             }
//         }
//     }
// }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

    .blockchain{
        * {
            padding: 0;
            margin: 0;
        }
        .s8{
            margin-top: 2rem;
        }
    
        .blockchain-1 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 4.5rem;
    
            .blockchain-1-left {
                max-width: 600px;
                max-height: 438px;
            }
    
            .blockchain-1-left video {
                width: 90%;
                height: 400px;
            }
    
            .blockchain-1-right {
                max-width: 691px;
                height: 238px;
                margin-right: 1rem;
    
                h4 {
                    width: 100%;
                    max-width: 390px;
                    height: auto;
                    font-family: 'Poppins', sans-serif;
                    font-size: 40.07px;
                    font-weight: 500;
                    line-height: 50.93px;
                    text-align: center;
                    color: #263238;
                    word-break: break-word;
                    margin: 0;
                }
    
                .blockchain-1-p {
                    width: 100%;
                    max-width: 180px;
                    margin: 1rem auto;
                    font-family: 'ABeeZee', sans-serif;
                    font-size: 17.52px;
                    font-weight: 400;
                    line-height: 18.9px;
                    text-align: center;
                    color: #263238;
                }
    
                .blockchain-1-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    margin-top: 2rem;
    
                    .blockchain-1-button-1 {
                        width: 229.29px;
                        height: 39.43px;
                        border-radius: 3.65px;
                        background-color: #1C1C1C;
                        color: white;
                        border: none;
                    }
    
                    .blockchain-1-button-2 {
                        width: 97.85px;
                        height: 30.67px;
                        font-family: 'ABeeZee', sans-serif;
                        font-size: 14.6px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 15.75px;
                        text-align: center;
                        border: 0.73px solid #1C1C1C;
                    }
                }
            }
        }
    
        .blockchain-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            gap: 88px;
            margin-top: 0.5rem;
            margin-bottom: 4.5rem;
    
            .blockchain-2-left {
                width: 100%;
                max-width: 459PX;
                height: auto;
                gap: 17px;
                align-content: center;
                margin-left: 0.2rem;
    
                h4 {
                    width: 100%;
                    max-width: 520px;
                    height: auto;
                    font-family: 'Poppins', sans-serif;
                    font-size: 38.46px;
                    font-weight: 500;
                
                    letter-spacing: -0.01em;
                    text-align: center;
                    color: #2E6241;
                    margin: 0.4rem;
                }
    
                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    width: 100%;
                    max-width: 549px;
                    height: auto;
                }
            }
    
            .blockchain-2-right {
                width: 434.19px;
                height: auto;
    
                img {
                    width: 100%;
                    max-width: 381.77px;
                    height: auto;
                }
            }
        }
    
        .blockchain-31 {
            width: 75%;
            height: 600px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #63BE73;
            border-radius: 42.4px;
            margin-right: auto;
    
            .blockchain-3-head {
                h4 {
                    margin: 3rem 0;
                    font-family: 'Poppins', sans-serif;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 41.6px;
                    text-align: center;
                    color: white;
                    width: 282px;
                    height: auto;
                }
            }
    
            .blockchain-3-para {
                p {
                    width: 80%;
                    margin: auto;
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 60px;
                    text-align: center;
                    color: white;
                }
            }
    
            @media (max-width: 430px) {
                .blockchain-3-head h4 {
                    margin: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: -0.01em;
                    text-align: center;
                }
    
                .blockchain-3-para p {
                    width: 80%;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -0.01em;
                    text-align: center;
                    margin-bottom: 0.5rem;
                }
            }
        }
    
        .blockchain-4 {
            width: 100%;
            height: auto;
            margin-top: 2.5rem;
            text-align: center;
            
            h4 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                color: #263238;
                margin-bottom: 2.5rem;
            }
            
            .blockchain-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 2rem;
            }
            
            .blockchain-card {
                width: 430px; /* Fixed width for the card */
                height: auto;
                margin: 1rem;
                /* Example: Adding shadow for clarity */
                transition: transform 0.3s ease-in-out;
    
                &:hover {
                    transform: scale(1.02);
                }
    
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px; /* Example: Adding border radius */
                }
    
                .blockchain-card-content {
                    padding: 1rem;
                    
                    .green-head {
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                        text-align: left;
                        color: #39A34B;
                        margin-bottom: 0.5rem;
                    }
    
                    h4 {
                        font-family: 'Inter', sans-serif;
                        font-size: 20px; /* Adjusted font size */
                        font-weight: 600;
                        text-align: left;
                        line-height: 28px;
                        color: #1A1A1A;
                        margin-bottom: 0.75rem;
                    }
    
                    p {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        line-height: 24px;
                        color: #667085;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    
    @media (max-width: 430px) {
        .blockchain {
            padding: 1rem;
        }
    
        .blockchain-1 {
            flex-direction: column;
            align-items: center;
            padding: 20px;
    
            .blockchain-1-left {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                margin-right: 1rem;
    
                video {
                    width: 90%;
                    height: auto;
                    max-width: 317px;
                    opacity: 1;
                }
            }
    
            .blockchain-1-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
    
                h4 {
                    width: 80%;
                    max-width: 390px;
                    margin: 9px 0;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: -0.075em;
                    word-break: break-word;
                }
    
                .blockchain-1-p {
                    width: 90%;
                    max-width: 360px;
                    margin-top: 5rem;
                    margin-right: 14rem;
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                }
            }
        }
    
        .blockchain-2 {
            max-width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .blockchain-2-left {
                max-width: 390px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h4 {
                    width: 70%;
                    max-width: 390px;
                    margin: 9px 0;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: -0.075em;
                    word-break: break-word;
                }
            }
    
            p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 1rem;
            }
    
            .blockchain-2-right img {
                width: 100%;
                height: auto;
                max-width: 434.19px;
                margin-left: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    
        .blockchain .blockchain-4 .blockchain-container {
            flex-direction: column; /* Change to column layout on smaller screens */
            align-items: center;
        }
    
        .blockchain .blockchain-4 .blockchain .blockchain {
            width: 100%; /* Take full width of container */
            max-width: calc(100% - 2rem); /* Adjust maximum width with some margin */
        }
    }
    @media (max-width: 768px) {
        .software-1 {
            flex-direction: column;
            align-items: center;
        }
    
        .software-2 {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
        }